/* Logo */
.logoContainer {
  height: 60px;
  width: 260px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logoTitle {
  font-size: 2.8rem;
  font-weight: 700;
}

.logoTitleBlue {
  color: var(--mantine-color-blue-6);
}

.logoHat {
  position: absolute;
  width: 39px;
  top: 0;
  left: 0;
  transform: translate(3px, -14px);
}
