/* Body */
@media (min-width: 768px) {
  .studentBackground {
    background-image: url("../assets/img/student.webp");
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: auto;
  }
}
