.logoContainer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative; /* מאפשר מיקום מוחלט של הכובע */
}

.title {
  font-size: 2.8rem;
  font-weight: 700;
}

.titleHat {
  position: absolute; /* מיקום מוחלט */
  width: 39px;
  top: -15px; /* מיקום מעל האות G */
  left: 0px; /* התאם את הערך כך שהכובע יהיה ממוקם על ה-G */
}
