/* Logo */
.logoContainer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title {
  font-size: 2.8rem;
  font-weight: 700;
}

.titleHat {
  position: absolute;
  width: 39px;
  top: -15px;
  left: 0px;
}

/* Welcome Card */
.welcomeCard {
  height: rem(440px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-size: cover;
  background-position: center;
}

.welcomeCardTitle {
  font-weight: 500;
  color: var(--mantine-color-white);
  line-height: 1.2;
  font-size: rem(32px);
  margin-top: var(--mantine-spacing-xs);
}

/* Login Welcome */
.welcomeParentContainer {
  margin-top: auto;
  overflow: hidden;
}

.welcomeChildContainer {
  transform: translateY(5px);
}

.studentWrapper {
  position: relative;
  display: inline-block;
  width: 400px;
  height: 400px;
  background-color: rgba(34, 139, 230, 0.1);
  border-radius: 50%;
}

.studentImage {
  width: 380px;
  height: auto;
  position: absolute;
  top: 0px;
  right: 0px;
}
